{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
		{% if user.is_staff and is_edit %}
			<link rel="stylesheet" href="{% static 'css/editor.css' %}">
		{% endif %}
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, shink-to-fit=no">
    </head>
    <body>
	{% include 'top_menu.html' %}
	<div id="content_wrap" class="content-wrap">
		{% if user.is_staff and is_edit %}
			<input id="content_header" type="text" value="{{ title | safe }}"></input>
		{% else %}
			<div id="content_header">{{ title }}</div>
		{% endif %}
		<div id="wrap_content" class="flex-row-sb">
			<div id="content_list">
				{{content_list | safe}}
			</div>
			{% if user.is_staff and is_edit %}
			<div id="edit_panel">
				<div id="edit_bar">
					<a class="box-element" onclick="save_page_data()">Сохранить</a>
					<label class="flex-row-sb">
						<input id="show_edit_checkbox" type="checkbox"></input>
						Редактор
					</label>
					<label class="flex-row-sb">
						<input id="show_result_checkbox" type="checkbox"></input>
						Результат
					</label>
					<label class="flex-row-sb">
						<input id="show_html_checkbox" type="checkbox"></input>
						HTML
					</label>
					<label class="flex-row-sb">
						<input id="show_css_checkbox" type="checkbox"></input>
						CSS
					</label>
					<label class="flex-row-sb">
						<input id="show_js_checkbox" type="checkbox"></input>
						JS
					</label>
				</div>
				<div id="wrap_editor" class="flex-row-sb">
					<div id="wrap-content-editor" class="wrap-content">
						<div id="wrap_content_html" class="wrap-content2">
							<div class="wrap-content-header">
								<h2 class="content-header">HTML</h2>
								<input id="html_font_size" class="input-num" lang="--text-area-font-size-html" name="content_html" min="0" type="number" value="15">
							</div>
							<div class="wrap-lines-textarea">
								<div id="lines_html" class="lines-textarea">
								</div>
								<textarea type="text" id="content_html" class="content-text" name="text-area-line-html" ></textarea>
							</div>
						</div>
						<div id="wrap_content_css" class="wrap-content2">
							<div class="wrap-content-header">
								<h2 class="content-header">CSS</h2>
								<input id="css_font_size" class="input-num" lang="--text-area-font-size-css" name="content_css" min="0" type="number" value="15">
							</div>
							<div class="wrap-lines-textarea">
								<div id="lines_css" class="lines-textarea">
								</div>
								<textarea type="text" id="content_css" class="content-text" name="text-area-line-css" ></textarea>
							</div>
						</div>
						<div id="wrap_content_js" class="wrap-content2">
							<div class="wrap-content-header">
								<h2 class="content-header">JS</h2>
								<input id="js_font_size" class="input-num" lang="--text-area-font-size-js" name="content_js" min="0" type="number" value="15">
							</div>
							<div class="wrap-lines-textarea">
								<div id="lines_js" class="lines-textarea">
								</div>
							<textarea type="text" id="content_js" class="content-text" name="text-area-line-js"></textarea>
							</div>
						</div>
					</div>
					<div id="wrap-content-view" class="wrap-content">
						<div class="wrap-content-header" style="border-left: solid 2px #999;">
							<h2 class="content-header">Результат</h2>
						</div>
						<div id="content_view" class="content-text"></div>
					</div>
				</div>
			</div>
			{% else %}
				<div id="content" class="content-text">
				</div>
			{% endif %}
		</div>
	</div>
    </body>
    <script type="text/javascript" src="{% static 'js/ajax_update_content.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	{% if user.is_staff %}
    <script>
		setCheckboxValue($("#edit_checkbox"), getCookie("edit_checkbox"));
		const csrftoken = getCookie("csrftoken");

		document.getElementById("edit_checkbox").onclick = async () => {
			document.cookie = `edit_checkbox=${$("#edit_checkbox").checked}`;
			document.location.reload();

	/*		let response = await fetch(`/?page=${pageNow()}`);
			document.documentElement.innerHTML = await response.text();

			if ($("#edit_checkbox").checked) {
				const initCheckbox2 = (obj_name, checkbox_name, disp) => {
					const func = () => document.getElementById(obj_name).style.display = document.getElementById(checkbox_name).checked ? disp : "none";
					initCheckbox(checkbox_name, func);
					func();
				}

				initCheckbox2("wrap-content-editor", "show_edit_checkbox", "grid");
				initCheckbox2("wrap-content-view", "show_result_checkbox", "block");
				initCheckbox2("wrap_content_html", "show_html_checkbox", "block");
				initCheckbox2("wrap_content_css", "show_css_checkbox", "block");
				initCheckbox2("wrap_content_js", "show_js_checkbox", "block");
				setCheckboxValue($("#edit_checkbox"), (getCookie("edit_checkbox") === "true"));
			}
*/
		}
    </script>
	{% endif %}

	{% if user.is_staff and is_edit %}
    	<script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
	{% endif %}
</html>
{% endspaceless %}
