.wrap-task-title-state, .task-text, .task-info-bar {
    border: solid 2px #999;
}

.task-title, .task-state, .task-text, .task-user-created, .task-data-created, .task-open-comments {
    padding: 5px;
}

.task-title, .task-state, .task-text, .task-info-bar, .task-user-created, .task-data-created, .task-open-comments {
    color: #BBB;
}

.task-message {
    margin: 10px 10px 0 10px;
}

.wrap-task-title-state {
    background: #555;
}

.task-state {
    border-left: solid 2px #999;
    background: #333;
}

.task-text {
    border-top: none;
    background: #444;
}

.task-info-bar {
    border-top: none;
    background: #555;
}

.task-comments {
    border-top: solid 2px #999;
}

.task-wrap-solved {
    border-left: solid 2px #999;
    border-bottom: solid 2px #999;
    background: #555;
    text-align: right;
}

.task-data-solved {
    border-right: solid 2px #999;
    border-bottom: solid 2px #999;
    display: inline-block;
}

.task-data-created {
    border-left: solid 2px #999;
    border-bottom: 0;
    background: #333;
}

.wrap-btn-comment-solved {
    border-bottom: solid 2px #999;
    border-left: solid 2px #999;
    background: #333;
}

.task-open-comments {
    display: none;
}

.task-open-comments-label {
    border: solid 2px #999;
    border-top: none;
    cursor: pointer;
    background: #555;
    transition: 0.2s;
    padding: 10px;
    text-align: center;
    display: block;
    background: #4F4F4F;
    margin: 0 25%;
}

.task-open-comments-label:hover {
    background: #444;
}

.task-open-comments-label:active {
    background: #333;
}

.task-open-comments:checked + label::before {
    content: "Показать комментарии";
}

.task-open-comments:not(:checked) + label::before {
    content: "Скрыть комментарии";
}

.task-open-comments:checked + label + div {
    display: none;
}

.task-space-between {
    border-top: solid 5px #CCC;
    margin: 20px 0;
}

.task-space-end {
    margin-top: 10px;
}

.wrap-task-comments {
    background: #333;
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 2px #999;
}

.task-comments {
    margin-top: 10px;
}

.task-btn-answer {
    display: inline-block;
    padding: 6px;
    border-top: none;
    margin: 0;
}