#wrap_bug_report {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 25px;
}

#title_bug_report {
    font-size: 22px;
    padding: 8px;
    text-align: center;
    border: solid 2px #999;
}

#textarea_bug_report {
    resize: vertical;
    min-height: 250px;
    background-color: #444;
    border: solid 2px #999;
    border-top: none;
    padding: 8px;
    font-size: 20px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#btn_send_bug_report {
     margin: 0;
     background-color: #444;
     width: 97px;
     border: solid 2px #999;
     border-top: none;
}

#btn_send_bug_report:active {
    box-shadow: none;
    background-color: #333;
}

#notice_bug_report {
    display: none;
    text-align: center;
    margin-top: 15px;
    color: #822;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
#btn_send_bug_report {
    font-size: 16px !important;
}
}

@media screen and (max-width: 768px) {
#wrap_bug_report {
    width: 100% !important;
    margin-top: 0;
    align-items: center;
}

#btn_send_bug_report {
    border: solid 2px #999;
    margin-top: 50px;
}

#textarea_bug_report {
    border-left: none;
    border-right: none;
}

#title_bug_report {
    border-top: none;
    border-left: none;
    border-right: none;
}
}