.input-num {
	max-width: 60px;
	border: none;
	border-left: solid 2px #999;
	padding: 6px;
	text-align: center;
}

.input-num:hover {
	border-left: solid 2px #999;
}

.input-num:focus {
	border-left: solid 2px #999;
}

#content_list {
	border-right: solid 2px #999;
}

#edit_bar {
	display: flex;
	height: 38px;
	background: #333;
}

#content {
	color: #FFF;
}

#edit_bar label {
	padding: 7px;
}

#edit_bar label input {
	width: 14px;
	cursor: pointer;
}

#edit_bar a, #edit_bar label {
	margin: 0;
	border: none;
	border-right: solid 2px #999;
	background: #666;
	cursor: pointer;
	transition: 0.2s;
}

#edit_bar a, #edit_bar label {
	color: #B6B6B6;
}

#edit_bar a:hover, #edit_bar label:hover {
	background: #555;
}

#edit_bar a:active, #edit_bar label:active {
	background: #444;
}

#edit_bar a:active {
	box-shadow: none;
}

#edit_bar input {
	margin-right: 6px;
}

#edit_bar div {
	padding: 6px;
}

#edit_bar label {
	cursor: pointer;
}

#edit_panel {
	width: 100%;
	height: 100%;
}

#content_html, #content_css, #content_js {
	line-height: 1.5;
}

.content-text {
	outline: 0;
	border: none;
	border-top: solid 2px #999;
	border-left: solid 2px #999;
	width: 100%;
	min-height: unset;
	height: 100%;
}

#wrap-content-view, #wrap-content-editor {
	height: 100%;
}

#content_view {
	height: calc(100% - 40px);
}

#wrap-content-editor {
	border-left: none;
}

#wrap-content-editor .content-text {
	color: #CCC;
	padding: 10px;
	border-left: none;
	font-family: "Roboto-mono", monospace;
	font-size: 15px;
}

.content-wrap {
	width: 90%;
	min-height: 659px;
}

.wrap-content {
	width: 100%;
}

.wrap-content2 {
	min-height: 0;
}

.wrap-lines-textarea {
	display: flex;
	height: calc(100% - 40px);
}

.wrap-content-header {
	border-top: solid 2px #999;
	background-color: #444;
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.content-header {
	cursor: default;
	text-align: center;
	width: 100%;
	padding: 5px;
}

#wrap_editor {
	height: calc(100% - 38px);
    display: flex;
	align-items: flex-start;
}

#content_header {
	cursor: text;
	border: none;
	border-bottom: solid 2px #999;
}

@media screen and (max-width: 768px) {
	#edit_panel {
		width: 100%;
		border: solid 2px #999;
	}

	.content-wrap {
		width: 100%;
	}

	#wrap_editor {
		flex-direction: column;
	}

	.content-text {
		border: none;
		border-top: solid 2px #999;
	}

	#edit_bar {
		border: none;
	}

	.wrap-content-header {
		border-left: none;
	}
}

.lines-textarea {
	padding: 10px 4px 10px 3px;
	border-right: solid 2px #999;
	border-top: solid 2px #999;
	height: 100%;
	line-height: 1.5;
	overflow: hidden;
	display: inline-block;
	counter-reset: line;
}

.text-area-line {
	display: block;
	font-size: 16px;
	color: #aeaeae;
	text-align: right;
	font-family: "Roboto Mono", monospace;
}

:root {
	--text-area-font-size-html: 16px;
	--text-area-font-size-css: 16px;
	--text-area-font-size-js: 16px;
	--text-area-line-height-html: 24px;
	--text-area-line-height-css: 24px;
	--text-area-line-height-js: 24px;
}

.text-area-line::before {
	counter-increment: line;
	content: counter(line);
	user-select: none;
}

.text-area-line-html::before {
	font-size: var(--text-area-font-size-html);
/*	line-height: var(--text-area-font-size-html);*/
}

.text-area-line-css::before {
	font-size: var(--text-area-font-size-css);
/*	line-height: var(--text-area-font-size-css);*/
}

.text-area-line-js::before {
	font-size: var(--text-area-font-size-js);
/*	line-height: var(--text-area-font-size-js);*/
}
